/* 0px - 468px */
@media only screen and (min-width: 0px) {
   h1{
    color: green;
   }
}

/* 469px - 768px */
@media only screen and (min-width: 469px) {
    h1{
        color: yellow;
       }
}

/* 769px - dst */
@media only screen and (min-width: 769px) {
    h1{
        color: blue;
       }
}