:root{
    --primary: #2B3499;
    --secondary: #FF6C22; 
    --dark: #363062;
}

.myfirstapp-bg-primary{
    background-color: var(--primary);
}

.myfirstapp-bg-secondary{
    background-color: var(--secondary);
}

.myfirstapp-bg-dark{
    background-color: var(--dark);
}

.myfirstapp-font-primary{
    color: var(--primary);
}

.myfirstapp-font-secondary{
    color: var(--secondary);
}

.myfirstapp-font-dark{
    color: var(--dark);
}